<div *ngIf="weather" class="card" [ngClass]="{'cursor-pointer': city}" (click)="showCity(city)">

    <div class="card__title" *ngIf="city">
        <span class="normal-font text-dark text-bold">
            {{ city.name }}
        </span> <br>
        <span *ngIf="city && city.state" class="small-font text-gray">
            {{ city.state }}
        </span>
    </div>

    <div class="card__content">
        <app-weather-details-card 
            [weather]="weather"
            style="flex: 1;">
        </app-weather-details-card>
    </div>

    <div class="card__weather">
        <p>
            <span class="text-gray">{{ weather.min_temp | temperatureConverter:activeTemperatureScale }}°</span>
             / 
            <span class="normal-font">{{ weather.max_temp | temperatureConverter:activeTemperatureScale }}°</span>
        </p>
        <img class="image-sm" src="../../../assets/weather-states/{{weather.image_name}}" alt="Weather">
    </div>
</div>

<ion-skeleton-text 
    *ngIf="!weather"
    [animated]="true" 
    style="width: 100%; height: 5.4rem">
</ion-skeleton-text>