<div id="slide__controls">
    <ion-button 
        fill="clear" 
        class="slide__control" 
        (click)="showSlide(currentSlide - 1)"
        [disabled]="currentSlide === 0">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <div class="indicator__group">
        <div 
            *ngFor="let city of cities; let cityIndex = index" 
            class="indicator__item" 
            [ngClass]="{
                'indicator__item--active': currentSlide === cityIndex
            }">
        </div>
    </div>
    <ion-button 
        fill="clear" 
        class="slide__control" 
        (click)="showSlide(currentSlide + 1)"
        [disabled]="currentSlide === cities.length - 1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
</div>