<ion-content [fullscreen]="true" id="content">
  <div class="cities">

    <section class="cities__added" *ngIf="storedCities.length">
      <ion-button color="light" *ngFor="let city of storedCities">
        {{ city.name }}
      </ion-button>
    </section>

    <section class="cities__found" *ngIf="citiesAndWeatherFound.length">
      <h1 class="normal-font text-gray">Results</h1>
      <div class="cities__list">
        <app-daily-forecast-card 
          *ngFor="let item of citiesAndWeatherFound" 
          [city]="item.city"
          [weather]="item.weather"
        >
        </app-daily-forecast-card>
      </div>
    </section>

    <section class="cities__found--loading text-center" *ngIf="status === statuses.Loading">
      <app-loader
        [message]="'Looking for matches. This may take a moment'">
      </app-loader>
    </section>

    <section class="cities__found--error text-center" *ngIf="!citiesAndWeatherFound.length && status === statuses.Done">
      <span class="normal-font text-dark text-bold">No results to show</span>
      <span class="normal-font text-gray">Please check spelling or try different keywords</span>
    </section>

    <section class="cities__found--error text-center" *ngIf="!citiesAndWeatherFound.length && status === statuses.Error">
      <span class="normal-font text-dark text-bold">Connection lost!.</span>
      <span class="normal-font text-gray">Check your internet connection or try again later</span>
    </section>
  </div>
</ion-content>