<ion-content [fullscreen]="true">
  <div class="cities">
    <section class="cities__added">
      <ion-button color="light">Ciudad Victoria</ion-button>
      <ion-button color="light">Reynosa</ion-button>
      <ion-button color="light">Matamoros</ion-button>
    </section>
    <section class="cities__found">
      <h1 class="normal-font text-gray">Results</h1>
      <div class="cities__list">
        <app-daily-forecast-card></app-daily-forecast-card>
        <app-daily-forecast-card></app-daily-forecast-card>
        <app-daily-forecast-card></app-daily-forecast-card>
        <app-daily-forecast-card></app-daily-forecast-card>
        <app-daily-forecast-card></app-daily-forecast-card>
      </div>
    </section>
  </div>
</ion-content>