@import "/src/theme/mixins.scss";

.cities {
    @include flex-column;
    justify-content: center;

    &__added {
        display: flex;
        gap: 0.7rem;
        overflow: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
    }

    &__list {
        @include flex-column;
        gap: 0.7rem;
    }

    &__found--error {
        @include flex-column;
        margin-top: 1rem;
        gap: 0.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .cities {
        width: 55%;
        margin: 0 auto;
    }
}