@import "/src/theme/mixins.scss";

.weather {
  @include flex-column;
  justify-content: center;
}

.weather__time {
  @include flex-column;
}

.weather__today {
  @include flex-column;

  .hourly__list {
    display: flex;
    gap: 0.7rem;
    overflow: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
  }
}

.week__list {
  @include flex-column;
  gap: 0.7rem;
}

@media only screen and (min-width: 1024px) {

  .weather {
    height: 100%;

    &__time {
      gap: 2rem;
      flex-direction: row;
      height: 100%;
    }

    &__today {
      width: 45%;
    }

    &__week {
      width: 55%;

      .week__list {
        overflow: auto;
        height: 90%;

        &::-webkit-scrollbar {
          -webkit-appearance: none;
        }
      }
    }
  }
}