<div class="weather">
    <article class="weather__time">
        <div class="weather__today" *ngIf="currentWeather">
            <app-current-weather 
                [city]="city"
                [weather]="currentWeather">
            </app-current-weather>
            <!-- <section class="weather__hourly">
                <h1 class="normal-font text-gray">Today</h1>
                <div 
                    class="hourly__list" 
                    (touchstart)="preventSlideChange($event)"
                    (touchend)="preventSlideChange($event)"
                >
                    <app-hourly-forecast-card></app-hourly-forecast-card>
                </div>
            </section> -->
        </div>
        <section class="weather__week">
            <h1 class="normal-font text-gray">Next 5 day</h1>
            <div class="week__list" *ngIf="forecast">
                <app-daily-forecast-card
                    *ngFor="let weather of forecast"
                    [weather]="weather">
                </app-daily-forecast-card>
            </div>
        </section>
    </article>
</div>