.card {
    &__title {
        flex: 1;
        text-align: start;
    }

    &__content {
        flex: 4;
        display: flex;
        justify-content: center;
    }

    &__weather {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: end;
    }
}

@media only screen and (max-width: 680px) {
    .card {
        &__content {
            display: none;
        }

        &__title,
        &__weather {
            flex: unset;
        }
    }
}


@media only screen and (max-width: 290px) {
    .card {
        gap: 0.5rem;
        flex-direction: column;

        &__weather {
            gap: unset;
            flex-direction: column-reverse;
        }
    }
}