<div class="card">

    <span class="card__title normal-font text-dark text-bold">
        {{ weather?.date | date:'EEEE' }}
    </span>

    <div class="card__content">
        <app-weather-details-card 
            [weather]="weather"
            style="flex: 1;">
        </app-weather-details-card>
    </div>

    <div class="card__weather">
        <p>
            <span class="text-gray">{{ weather?.min_temp | temperatureConverter:activeScale }}°</span>
             / 
            <span class="normal-font">{{ weather?.max_temp | temperatureConverter:activeScale }}°</span>
        </p>
        <img class="image-sm" src="../../../assets/weather-states/{{weather?.image_name}}" alt="Weather">
    </div>
</div>