@import "/src/theme/mixins.scss";

.weather__options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .options__refresh {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: end;

    .refresh__button {
      &::part(native) {
        padding: 0.5rem;
      }

      &--active {
        animation-name: refresh;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
      }
    }
  }
}

swiper-container {
  overflow-x: hidden;
}

@keyframes refresh {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}