<div class="card">
    <span class="card__title normal-font text-dark text-bold">Wednesday</span>
    <div class="card__content">
        <div class="card__item">
            <span class="normal-font">2 km/h</span>
            <span class="small-font text-gray">Wind</span>
        </div>
        <div class="card__item">
            <span class="normal-font text-dark">18%</span>
            <span class="small-font text-gray">Humidity</span>
        </div>
        <div class="card__item">
            <span class="normal-font text-dark">100%</span>
            <span class="small-font text-gray">Rain</span>
        </div>
    </div>
    <div class="card__weather">
        <p>
            <span class="text-gray">22°</span> / <span class="normal-font">26°</span>
        </p>
        <img class="image-sm" src="../../../assets/weather-states/clear-day.svg" alt="">
    </div>
</div>