<section class="weather__current">
    <img class="image-lg" src="../../assets/weather-states/clear-day.svg" alt="Current Weather">
    <div class="current__details">
        <div class="current__degrees">
            <h3 class="text-bold">
                {{ city?.name }}<span *ngIf="city?.state">, {{ city?.state }}</span>
            </h3>
            <h1>
                {{ weather?.temp | temperatureConverter:activeScale }} 
                <span class="degrees__scale large-font text-bold">°{{ activeScale }}</span>
            </h1>
        </div>
        <app-weather-details-card 
            [weather]="weather"
            [showIcons]="true">
        </app-weather-details-card>
    </div>
</section>