<ion-content [fullscreen]="true" id="content">
  <section class="weather__search">
    <ion-searchbar 
      (ionFocus)="toggleCitySearchResultsComponent($event)"
      (ionCancel)="toggleCitySearchResultsComponent($event)"
      [showCancelButton]="showCitySearchResults ? 'always' : 'never'"
      placeholder="Search" 
      color="light" 
      class="custom">
    </ion-searchbar>
  </section>

  <app-temperature-scale-switch
    [@fadeInOut]
    *ngIf="!showCitySearchResults">
  </app-temperature-scale-switch>

  <swiper-container
    [@fadeInOut]
    *ngIf="!showCitySearchResults">
    <swiper-slide>
      <app-weather-forecast>
      </app-weather-forecast>
    </swiper-slide>
    <swiper-slide>
      <app-weather-forecast>
      </app-weather-forecast>
    </swiper-slide>
    <swiper-slide>
      <app-weather-forecast>
      </app-weather-forecast>
    </swiper-slide>
  </swiper-container>

  <app-city-search-results 
    [@fadeInOut]
    *ngIf="showCitySearchResults">
  </app-city-search-results>
</ion-content>