<ion-content [fullscreen]="true" id="content">
  <section class="weather__search">
    <ion-searchbar 
      (ionFocus)="toggleCitySearchResultsComponent($event)"
      (ionCancel)="toggleCitySearchResultsComponent($event)"
      [showCancelButton]="showCitySearchResults ? 'always' : 'never'"
      placeholder="Search" 
      color="light" 
      class="custom">
    </ion-searchbar>
  </section>

  <div *ngIf="!showCitySearchResults" [@fadeInOut] class="weather__options">
      <app-temperature-scale-switch style="flex: 4;"></app-temperature-scale-switch>
      <app-slide-indicator [cities]="cities" [currentSlide]="currentSlide"></app-slide-indicator>
      <div class="options__refresh" style="flex: 4;">
        <span class="small-font text-gray">{{ lastUpdate | date:'h:mm a' }}</span>
        <ion-button fill="clear" (click)="updateWeatherForecast()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
      </div>
  </div>

  <swiper-container
    #swiper
    [@fadeInOut]
    *ngIf="!showCitySearchResults"
    (slidechangetransitionstart)="updateCurrentSlide()"
  >
    <swiper-slide *ngFor="let city of cities">
      <app-weather-forecast (onClickEvent)="preventSlideChange($event)"></app-weather-forecast>
    </swiper-slide>
  </swiper-container>

  <app-city-search-results 
    [@fadeInOut]
    *ngIf="showCitySearchResults">
  </app-city-search-results>
</ion-content>