<ion-content [fullscreen]="true" id="content">
  <section class="weather__search">
    <ion-searchbar 
      (ionFocus)="toggleCitySearchResultsComponent($event)"
      (ionCancel)="toggleCitySearchResultsComponent($event)"
      [showCancelButton]="showCitySearchResults ? 'always' : 'never'"
      placeholder="Search" 
      color="light" 
      class="custom">
    </ion-searchbar>
  </section>
  <app-weather-forecast 
    *ngIf="!showCitySearchResults">
  </app-weather-forecast>
  <app-city-search-results 
    *ngIf="showCitySearchResults">
  </app-city-search-results>
</ion-content>