ion-toggle {
    --track-background: var(--ion-color-light);
    --track-background-checked: var(--ion-color-light);

    &::part(handle) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2C2C2C;
        font-weight: bold;

        &:before {
            content: "C°";
        }
    }
}

.toggle-checked::part(handle) {
    &:before {
        content: "F°";
    }
}